.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 150px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
}

/* ================= MODAL ================= */

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal_content {
  background-color: #111;
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  overflow: hidden;
  color: white;
}

.modal_backdrop {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.modal_details {
  padding: 20px;
}

.modal_overview {
  margin-top: 10px;
  line-height: 1.5;
}

.modal_close {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.modal_buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.play_button {
  background-color: white;
  color: black;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.list_button {
  background-color: rgba(109,109,110,0.7);
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
}
